MYSQL_USER = 'root'
MYSQL_PASS = 'PASSOWRD'
MYSQL_DB = 'DB'

READ_DB_FREQUENCY = 30
WRITE_MARSHALL_FREQUENCY = 30
WRITE_DB_FREQUENCY = 5
CLEAN_FREQUENCY = 60

MIN_INTERVAL = 30
ANNOUNCE_INTERVAL = 60

#IPADDRKEY = 'HTTP_CLIENT_IP'
IPADDRKEY = 'REMOTE_ADDR'
